Package: com.ps.latesttranslate
Name: LatestTranslate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Make Apple's Translate app support all languages to date.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0), firmware (<< 16.0)
Depiction: https://poomsmart.github.io/repo/depictions/latesttranslate.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/latesttranslate.json
